{% extends 'basecamp/base_full.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1 class="my-3">안녕하세요. GURU HTML-12입니다.</h1>
                <h3>저희 HTML-12조가 만든 "잘 먹겠슈니다!"는 같이 식사를 하거나 음식 공동구매를 할 학우들을 찾는 웹사이트입니다.</h3>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h1>여러분의 바오밥을 찾으세요!</h1>
                <h3>(바오밥: 바로 오늘 밥친구)</h3>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h4 class="my-3">문의사항이나 오류가 있다면 연락주세요.</h4>
                <h5>E-mail: <small>ming9ree@naver.com</small></h5>
            </div>
        </div>
    </div>
{% endblock %}

